<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginCommand</key>
	<string></string>
	<key>endCommand</key>
	<string></string>
	<key>beginInstruction</key>
	<string></string>
	<key>endInstruction</key>
	<string></string>
	<key>beginVariable</key>
	<string></string>
	<key>endVariable</key>
	<string></string>
	<key>firstString</key>
	<string>&quot;</string>
	<key>secondString</key>
	<string>&apos;</string>
	<key>firstSingleLineComment</key>
	<string>//</string>
	<key>secondSingleLineComment</key>
	<string></string>
	<key>beginFirstMultiLineComment</key>
	<string>/*</string>
	<key>endFirstMultiLineComment</key>
	<string>*/</string>
	<key>beginSecondMultiLineComment</key>
	<string></string>
	<key>endSecondMultiLineComment</key>
	<string></string>
	<key>functionDefinition</key>
	<string>^(-|\+).*\n?\s*\{</string>
	<key>removeFromFunction</key>
	<string></string>
	<key>keywordsCaseSensitive</key>
	<false/>
	<key>recolourKeywordIfAlreadyColoured</key>
	<true/>
	<key>keywords</key>
	<array>
		<string>@autoreleasepool</string>
		<string>@catch</string>
		<string>@class</string>
		<string>@compatibility_alias</string>
		<string>@defs</string>
		<string>@dynamic</string>
		<string>@encode</string>
		<string>@end</string>
		<string>@finally</string>
		<string>@implementation</string>
		<string>@interface</string>
		<string>@optional</string>
		<string>@package</string>
		<string>@private</string>
		<string>@property</string>
		<string>@protected</string>
		<string>@protocol</string>
		<string>@public</string>
		<string>@required</string>
		<string>@selector</string>
		<string>@synchronized</string>
		<string>@synthesize</string>
		<string>@throw</string>
		<string>@try</string>
		<string>#define</string>
		<string>#endif</string>
		<string>#if</string>
		<string>#ifdef</string>
		<string>#ifndef</string>
		<string>#import</string>
		<string>#include</string>
		<string>and_eq</string>
		<string>and</string>
		<string>asm</string>
		<string>auto</string>
		<string>bitand</string>
		<string>bitor</string>
		<string>bool</string>
		<string>break</string>
		<string>case</string>
		<string>catch</string>
		<string>char</string>
		<string>CIColor Additions</string>
		<string>CIImage Additions</string>
		<string>class</string>
		<string>compl</string>
		<string>const_cast</string>
		<string>const</string>
		<string>continue</string>
		<string>default</string>
		<string>delete</string>
		<string>do</string>
		<string>double</string>
		<string>dynamic_cast</string>
		<string>else</string>
		<string>enum</string>
		<string>explicit</string>
		<string>export</string>
		<string>extern</string>
		<string>false</string>
		<string>float</string>
		<string>for</string>
		<string>Foundation</string>
		<string>FoundationErrors</string>
		<string>friend</string>
		<string>goto</string>
		<string>IBAction</string>
		<string>IBOutlet</string>
		<string>id</string>
		<string>if</string>
		<string>IMP</string>
		<string>inline</string>
		<string>int</string>
		<string>long</string>
		<string>mutable</string>
		<string>namespace</string>
		<string>new</string>
		<string>nil</string>
		<string>NO</string>
		<string>not_eq</string>
		<string>not</string>
		<string>NSAccessibility</string>
		<string>NSActionCell</string>
		<string>NSAffineTransform</string>
		<string>NSAlert</string>
		<string>NSAlertDelegate</string>
		<string>NSAnimatablePropertyContainer</string>
		<string>NSAnimation</string>
		<string>NSAnimationContext</string>
		<string>NSAnimationDelegate</string>
		<string>NSAnimationEffect</string>
		<string>NSAppleEventDescriptor</string>
		<string>NSAppleEventManager</string>
		<string>NSAppleEventManagerSuspensionID</string>
		<string>NSAppleScript</string>
		<string>NSApplication</string>
		<string>NSApplicationDelegate</string>
		<string>NSArchiver</string>
		<string>NSArray</string>
		<string>NSArrayController</string>
		<string>NSAssertionHandler</string>
		<string>NSATSTypesetter</string>
		<string>NSAttributedString</string>
		<string>NSAutoreleasePool</string>
		<string>NSBezierPath</string>
		<string>NSBitmapImageRep</string>
		<string>NSBlockOperation</string>
		<string>NSBox</string>
		<string>NSBrowser</string>
		<string>NSBrowserAuxiliaryOpaque</string>
		<string>NSBrowserCell</string>
		<string>NSBrowserDelegate</string>
		<string>NSBundle</string>
		<string>NSButton</string>
		<string>NSButtonCell</string>
		<string>NSCache</string>
		<string>NSCachedImageRep</string>
		<string>NSCachedURLResponse</string>
		<string>NSCalendar</string>
		<string>NSCell</string>
		<string>NSChangeSpelling</string>
		<string>NSCharacterSet</string>
		<string>NSCIImageRep</string>
		<string>NSClassDescription</string>
		<string>NSClipView</string>
		<string>NSCloneCommand</string>
		<string>NSCloseCommand</string>
		<string>NSCoder</string>
		<string>NSCoding</string>
		<string>NSCollectionView</string>
		<string>NSCollectionViewDelegate</string>
		<string>NSCollectionViewItem</string>
		<string>NSColor</string>
		<string>NSColorList</string>
		<string>NSColorListAuxiliaryOpaque</string>
		<string>NSColorPanel</string>
		<string>NSColorPicker</string>
		<string>NSColorPickingCustom</string>
		<string>NSColorPickingDefault</string>
		<string>NSColorSpace</string>
		<string>NSColorWell</string>
		<string>NSComboBox</string>
		<string>NSComboBoxCell</string>
		<string>NSComboBoxCellDataSource</string>
		<string>NSComboBoxDataSource</string>
		<string>NSComboBoxDelegate</string>
		<string>NSComparator</string>
		<string>NSComparisonMethods</string>
		<string>NSComparisonPredicate</string>
		<string>NSCompoundPredicate</string>
		<string>NSCondition</string>
		<string>NSConditionLock</string>
		<string>NSConnection</string>
		<string>NSConnectionDelegate</string>
		<string>NSControl</string>
		<string>NSController</string>
		<string>NSControlTextEditingDelegate</string>
		<string>NSCopying</string>
		<string>NSCountCommand</string>
		<string>NSCountedSet</string>
		<string>NSCreateCommand</string>
		<string>NSCursor</string>
		<string>NSCustomImageRep</string>
		<string>NSData</string>
		<string>NSDataDetector</string>
		<string>NSDate</string>
		<string>NSDateComponents</string>
		<string>NSDateFormatter</string>
		<string>NSDatePicker</string>
		<string>NSDatePickerCell</string>
		<string>NSDatePickerCellDelegate</string>
		<string>NSDecimal</string>
		<string>NSDecimalNumber</string>
		<string>NSDecimalNumberBehaviors</string>
		<string>NSDecimalNumberHandler</string>
		<string>NSDeleteCommand</string>
		<string>NSDictionary</string>
		<string>NSDictionaryController</string>
		<string>NSDictionaryControllerKeyValuePair</string>
		<string>NSDirectoryEnumerator</string>
		<string>NSDistantObject</string>
		<string>NSDistantObjectRequest</string>
		<string>NSDistributedLock</string>
		<string>NSDistributedNotificationCenter</string>
		<string>NSDockTile</string>
		<string>NSDockTilePlugIn</string>
		<string>NSDocument</string>
		<string>NSDocumentController</string>
		<string>NSDraggingDestination</string>
		<string>NSDraggingImageComponent</string>
		<string>NSDraggingInfo</string>
		<string>NSDraggingItem</string>
		<string>NSDraggingSession</string>
		<string>NSDraggingSource</string>
		<string>NSDrawer</string>
		<string>NSDrawerDelegate</string>
		<string>NSEditor</string>
		<string>NSEditorRegistration</string>
		<string>NSEnumerator</string>
		<string>NSEPSImageRep</string>
		<string>NSError</string>
		<string>NSErrorRecoveryAttempting</string>
		<string>NSEvent</string>
		<string>NSException</string>
		<string>NSExistsCommand</string>
		<string>NSExpression</string>
		<string>NSFastEnumeration</string>
		<string>NSFileCoordinator</string>
		<string>NSFileHandle</string>
		<string>NSFileManager</string>
		<string>NSFileManagerDelegate</string>
		<string>NSFilePresenter</string>
		<string>NSFileVersion</string>
		<string>NSFileWrapper</string>
		<string>NSFocusRingPlacement</string>
		<string>NSFocusRingType</string>
		<string>NSFont</string>
		<string>NSFontCollection</string>
		<string>NSFontDescriptor</string>
		<string>NSFontManager</string>
		<string>NSFontPanel</string>
		<string>NSFontPanelValidation</string>
		<string>NSForm</string>
		<string>NSFormatter</string>
		<string>NSFormCell</string>
		<string>NSGarbageCollector</string>
		<string>NSGetCommand</string>
		<string>NSGlyphGenerator</string>
		<string>NSGlyphInfo</string>
		<string>NSGlyphStorage</string>
		<string>NSGradient</string>
		<string>NSGraphicsContext</string>
		<string>NSHashEnumerator</string>
		<string>NSHashTable</string>
		<string>NSHashTableCallBacks</string>
		<string>NSHashTableOptions</string>
		<string>NSHelpManager</string>
		<string>NSHost</string>
		<string>NSHTTPCookie</string>
		<string>NSHTTPCookieStorage</string>
		<string>NSHTTPURLResponse</string>
		<string>NSIgnoreMisspelledWords</string>
		<string>NSImage</string>
		<string>NSImageCell</string>
		<string>NSImageDelegate</string>
		<string>NSImageRep</string>
		<string>NSImageView</string>
		<string>NSIndexPath</string>
		<string>NSIndexSet</string>
		<string>NSIndexSpecifier</string>
		<string>NSInputStream</string>
		<string>NSInteger</string>
		<string>NSInterfaceStyle</string>
		<string>NSInvocation</string>
		<string>NSInvocationOperation</string>
		<string>NSKeyedArchiver</string>
		<string>NSKeyedArchiverDelegate</string>
		<string>NSKeyedUnarchiver</string>
		<string>NSKeyedUnarchiverDelegate</string>
		<string>NSKeyValueBindingCreation</string>
		<string>NSKeyValueCoding</string>
		<string>NSKeyValueObserving</string>
		<string>NSLayoutConstraint</string>
		<string>NSLayoutManager</string>
		<string>NSLayoutManagerDelegate</string>
		<string>NSLevelIndicator</string>
		<string>NSLevelIndicatorCell</string>
		<string>NSLinguisticTagger</string>
		<string>NSLocale</string>
		<string>NSLock</string>
		<string>NSLocking</string>
		<string>NSLogicalTest</string>
		<string>NSMachBootstrapServer</string>
		<string>NSMachPort</string>
		<string>NSMachPortDelegate</string>
		<string>NSMapEnumerator</string>
		<string>NSMapTable</string>
		<string>NSMapTableKeyCallBacks</string>
		<string>NSMapTableOptions</string>
		<string>NSMapTableValueCallBacks</string>
		<string>NSMatrix</string>
		<string>NSMatrixDelegate</string>
		<string>NSMenu</string>
		<string>NSMenuDelegate</string>
		<string>NSMenuItem</string>
		<string>NSMenuItemCell</string>
		<string>NSMenuValidation</string>
		<string>NSMenuView</string>
		<string>NSMessagePort</string>
		<string>NSMessagePortNameServer</string>
		<string>NSMetadataItem</string>
		<string>NSMetadataQuery</string>
		<string>NSMetadataQueryAttributeValueTuple</string>
		<string>NSMetadataQueryDelegate</string>
		<string>NSMetadataQueryResultGroup</string>
		<string>NSMethodSignature</string>
		<string>NSMiddleSpecifier</string>
		<string>NSModalSession</string>
		<string>NSMoveCommand</string>
		<string>NSMutableArray</string>
		<string>NSMutableAttributedString</string>
		<string>NSMutableCharacterSet</string>
		<string>NSMutableCopying</string>
		<string>NSMutableData</string>
		<string>NSMutableDictionary</string>
		<string>NSMutableFontCollection</string>
		<string>NSMutableIndexSet</string>
		<string>NSMutableOrderedSet</string>
		<string>NSMutableParagraphStyle</string>
		<string>NSMutableSet</string>
		<string>NSMutableString</string>
		<string>NSMutableURLRequest</string>
		<string>NSNameSpecifier</string>
		<string>NSNetService</string>
		<string>NSNetServiceBrowser</string>
		<string>NSNetServiceBrowserDelegate</string>
		<string>NSNetServiceDelegate</string>
		<string>NSNib</string>
		<string>NSNibAwaking</string>
		<string>NSNibConnector</string>
		<string>NSNibControlConnector</string>
		<string>NSNibOutletConnector</string>
		<string>NSNotification</string>
		<string>NSNotificationCenter</string>
		<string>NSNotificationQueue</string>
		<string>NSNull</string>
		<string>NSNumber</string>
		<string>NSNumberFormatter</string>
		<string>NSObject</string>
		<string>NSObjectController</string>
		<string>NSOpenGLContext</string>
		<string>NSOpenGLContextAuxiliary</string>
		<string>NSOpenGLGlobalOption</string>
		<string>NSOpenGLLayer</string>
		<string>NSOpenGLPixelBuffer</string>
		<string>NSOpenGLPixelFormat</string>
		<string>NSOpenGLPixelFormatAuxiliary</string>
		<string>NSOpenGLView</string>
		<string>NSOpenPanel</string>
		<string>NSOpenSavePanelDelegate</string>
		<string>NSOperation</string>
		<string>NSOperationQueue</string>
		<string>NSOrderedSet</string>
		<string>NSOrthography</string>
		<string>NSOutlineView</string>
		<string>NSOutlineViewDataSource</string>
		<string>NSOutlineViewDelegate</string>
		<string>NSOutputStream</string>
		<string>NSPageController</string>
		<string>NSPageControllerDelegate</string>
		<string>NSPageLayout</string>
		<string>NSPanel</string>
		<string>NSParagraphStyle</string>
		<string>NSPasteboard</string>
		<string>NSPasteboardItem</string>
		<string>NSPasteboardItemDataProvider</string>
		<string>NSPasteboardReading</string>
		<string>NSPasteboardWriting</string>
		<string>NSPathCell</string>
		<string>NSPathCellDelegate</string>
		<string>NSPathComponentCell</string>
		<string>NSPathControl</string>
		<string>NSPathControlDelegate</string>
		<string>NSPDFImageRep</string>
		<string>NSPersistentDocument</string>
		<string>NSPICTImageRep</string>
		<string>NSPipe</string>
		<string>NSPlaceholders</string>
		<string>NSPoint</string>
		<string>NSPointArray</string>
		<string>NSPointerArray</string>
		<string>NSPointerFunctions</string>
		<string>NSPointPointer</string>
		<string>NSPopover</string>
		<string>NSPopoverDelegate</string>
		<string>NSPopUpButton</string>
		<string>NSPopUpButtonCell</string>
		<string>NSPort</string>
		<string>NSPortCoder</string>
		<string>NSPortDelegate</string>
		<string>NSPortMessage</string>
		<string>NSPortNameServer</string>
		<string>NSPositionalSpecifier</string>
		<string>NSPredicate</string>
		<string>NSPredicateEditor</string>
		<string>NSPredicateEditorRowTemplate</string>
		<string>NSPrinter</string>
		<string>NSPrintInfo</string>
		<string>NSPrintOperation</string>
		<string>NSPrintPanel</string>
		<string>NSPrintPanelAccessorizing</string>
		<string>NSProcessInfo</string>
		<string>NSProgressIndicator</string>
		<string>NSPropertyListSerialization</string>
		<string>NSPropertySpecifier</string>
		<string>NSProtocolChecker</string>
		<string>NSProxy</string>
		<string>NSQuitCommand</string>
		<string>NSRandomSpecifier</string>
		<string>NSRange</string>
		<string>NSRangePointer</string>
		<string>NSRangeSpecifier</string>
		<string>NSRect</string>
		<string>NSRectArray</string>
		<string>NSRectPointer</string>
		<string>NSRecursiveLock</string>
		<string>NSRegularExpression</string>
		<string>NSRelativeSpecifier</string>
		<string>NSResponder</string>
		<string>NSRuleEditor</string>
		<string>NSRuleEditorDelegate</string>
		<string>NSRulerMarker</string>
		<string>NSRulerView</string>
		<string>NSRunLoop</string>
		<string>NSRunningApplication</string>
		<string>NSSavePanel</string>
		<string>NSSavePanelAuxiliaryOpaque</string>
		<string>NSScanner</string>
		<string>NSScreen</string>
		<string>NSScreenAuxiliaryOpaque</string>
		<string>NSScriptClassDescription</string>
		<string>NSScriptCoercionHandler</string>
		<string>NSScriptCommand</string>
		<string>NSScriptCommandDescription</string>
		<string>NSScriptExecutionContext</string>
		<string>NSScriptingComparisonMethods</string>
		<string>NSScriptKeyValueCoding</string>
		<string>NSScriptObjectSpecifier</string>
		<string>NSScriptObjectSpecifiers</string>
		<string>NSScriptSuiteRegistry</string>
		<string>NSScriptWhoseTest</string>
		<string>NSScroller</string>
		<string>NSScrollView</string>
		<string>NSSearchField</string>
		<string>NSSearchFieldCell</string>
		<string>NSSecureCoding</string>
		<string>NSSecureTextField</string>
		<string>NSSecureTextFieldCell</string>
		<string>NSSegmentedCell</string>
		<string>NSSegmentedControl</string>
		<string>NSServicesRequests</string>
		<string>NSSet</string>
		<string>NSSetCommand</string>
		<string>NSShadow</string>
		<string>NSSharingService</string>
		<string>NSSharingServiceDelegate</string>
		<string>NSSharingServicePicker</string>
		<string>NSSharingServicePickerDelegate</string>
		<string>NSSize</string>
		<string>NSSizeArray</string>
		<string>NSSizePointer</string>
		<string>NSSlider</string>
		<string>NSSliderCell</string>
		<string>NSSocketNativeHandle</string>
		<string>NSSocketPort</string>
		<string>NSSocketPortNameServer</string>
		<string>NSSortDescriptor</string>
		<string>NSSound</string>
		<string>NSSoundDelegate</string>
		<string>NSSpecifierTest</string>
		<string>NSSpeechRecognizer</string>
		<string>NSSpeechRecognizerDelegate</string>
		<string>NSSpeechSynthesizer</string>
		<string>NSSpeechSynthesizerDelegate</string>
		<string>NSSpellChecker</string>
		<string>NSSpellServer</string>
		<string>NSSpellServerDelegate</string>
		<string>NSSplitView</string>
		<string>NSSplitViewDelegate</string>
		<string>NSStatusBar</string>
		<string>NSStatusItem</string>
		<string>NSStepper</string>
		<string>NSStepperCell</string>
		<string>NSStream</string>
		<string>NSStreamDelegate</string>
		<string>NSString</string>
		<string>NSStringDrawingContext</string>
		<string>NSStringEncoding</string>
		<string>NSSwappedDouble</string>
		<string>NSSwappedFloat</string>
		<string>NSTableCellView</string>
		<string>NSTableColumn</string>
		<string>NSTableHeaderCell</string>
		<string>NSTableHeaderView</string>
		<string>NSTableRowView</string>
		<string>NSTableView</string>
		<string>NSTableViewDataSource</string>
		<string>NSTableViewDelegate</string>
		<string>NSTabView</string>
		<string>NSTabViewDelegate</string>
		<string>NSTabViewItem</string>
		<string>NSTabViewItemAuxiliaryOpaque</string>
		<string>NSTask</string>
		<string>NSText</string>
		<string>NSTextAttachment</string>
		<string>NSTextAttachmentCell</string>
		<string>NSTextBlock</string>
		<string>NSTextCheckingResult</string>
		<string>NSTextContainer</string>
		<string>NSTextDelegate</string>
		<string>NSTextField</string>
		<string>NSTextFieldCell</string>
		<string>NSTextFieldDelegate</string>
		<string>NSTextFinder</string>
		<string>NSTextFinderBarContainer</string>
		<string>NSTextFinderClient</string>
		<string>NSTextInput</string>
		<string>NSTextInputClient</string>
		<string>NSTextInputContext</string>
		<string>NSTextLayoutOrientationProvider</string>
		<string>NSTextList</string>
		<string>NSTextStorage</string>
		<string>NSTextTab</string>
		<string>NSTextTable</string>
		<string>NSTextTableBlock</string>
		<string>NSTextView</string>
		<string>NSTextViewDelegate</string>
		<string>NSThread</string>
		<string>NSTimeInterval</string>
		<string>NSTimer</string>
		<string>NSTimeZone</string>
		<string>NSTokenField</string>
		<string>NSTokenFieldCell</string>
		<string>NSTokenFieldCellDelegate</string>
		<string>NSTokenFieldDelegate</string>
		<string>NSToolbar</string>
		<string>NSToolbarDelegate</string>
		<string>NSToolbarItem</string>
		<string>NSToolbarItemGroup</string>
		<string>NSToolbarItemValidation</string>
		<string>NSToolTipOwner</string>
		<string>NSTouch</string>
		<string>NSTrackingArea</string>
		<string>NSTreeController</string>
		<string>NSTreeNode</string>
		<string>NSTypesetter</string>
		<string>NSTypesetterGlyphInfo</string>
		<string>NSUbiquitousKeyValueStore</string>
		<string>NSUInteger</string>
		<string>NSUnarchiver</string>
		<string>NSUncaughtExceptionHandler</string>
		<string>NSUndoManager</string>
		<string>NSUniqueIDSpecifier</string>
		<string>NSURL</string>
		<string>NSURLAuthenticationChallenge</string>
		<string>NSURLAuthenticationChallengeSender</string>
		<string>NSURLCache</string>
		<string>NSURLConnection</string>
		<string>NSURLConnectionDataDelegate</string>
		<string>NSURLConnectionDelegate</string>
		<string>NSURLCredential</string>
		<string>NSURLCredentialStorage</string>
		<string>NSURLDownload</string>
		<string>NSURLHandle</string>
		<string>NSURLHandleClient</string>
		<string>NSURLProtectionSpace</string>
		<string>NSURLProtocol</string>
		<string>NSURLProtocolClient</string>
		<string>NSURLRequest</string>
		<string>NSURLResponse</string>
		<string>NSUserAppleScriptTask</string>
		<string>NSUserAutomatorTask</string>
		<string>NSUserDefaults</string>
		<string>NSUserDefaultsController</string>
		<string>NSUserInterfaceItemIdentification</string>
		<string>NSUserInterfaceItemSearching</string>
		<string>NSUserInterfaceValidations</string>
		<string>NSUserNotification</string>
		<string>NSUserNotificationCenter</string>
		<string>NSUserNotificationCenterDelegate</string>
		<string>NSUserScriptTask</string>
		<string>NSUserUnixTask</string>
		<string>NSUUID</string>
		<string>NSValidatedUserInterfaceItem</string>
		<string>NSValue</string>
		<string>NSValueTransformer</string>
		<string>NSView</string>
		<string>NSViewAnimation</string>
		<string>NSViewController</string>
		<string>NSWhoseSpecifier</string>
		<string>NSWindow</string>
		<string>NSWindowController</string>
		<string>NSWindowDelegate</string>
		<string>NSWindowRestoration</string>
		<string>NSWindowScripting</string>
		<string>NSWorkspace</string>
		<string>NSXMLDocument</string>
		<string>NSXMLDTD</string>
		<string>NSXMLDTDNode</string>
		<string>NSXMLElement</string>
		<string>NSXMLNode</string>
		<string>NSXMLParser</string>
		<string>NSXMLParserDelegate</string>
		<string>NSXPCConnection</string>
		<string>NSXPCInterface</string>
		<string>NSXPCListener</string>
		<string>NSXPCListenerDelegate</string>
		<string>NSXPCListenerEndpoint</string>
		<string>NSZone</string>
		<string>NULL</string>
		<string>operator</string>
		<string>or_eq</string>
		<string>or</string>
		<string>private</string>
		<string>protected</string>
		<string>public</string>
		<string>register</string>
		<string>reinterpret_cast</string>
		<string>return</string>
		<string>SEL</string>
		<string>self</string>
		<string>short</string>
		<string>signed</string>
		<string>sizeof</string>
		<string>static_cast</string>
		<string>static</string>
		<string>struct</string>
		<string>super</string>
		<string>switch</string>
		<string>template</string>
		<string>this</string>
		<string>throw</string>
		<string>true</string>
		<string>try</string>
		<string>typedef</string>
		<string>typeid</string>
		<string>typename</string>
		<string>UIAcceleration</string>
		<string>UIAccelerometer</string>
		<string>UIAccelerometerDelegate</string>
		<string>UIAccessibility</string>
		<string>UIAccessibilityAction</string>
		<string>UIAccessibilityContainer</string>
		<string>UIAccessibilityElement</string>
		<string>UIAccessibilityFocus</string>
		<string>UIActionSheet</string>
		<string>UIActionSheetDelegate</string>
		<string>UIActivity</string>
		<string>UIActivityIndicatorView</string>
		<string>UIActivityItemProvider</string>
		<string>UIActivityItemSource</string>
		<string>UIActivityViewController</string>
		<string>UIAlertView</string>
		<string>UIAlertViewDelegate</string>
		<string>UIAppearance</string>
		<string>UIAppearanceContainer</string>
		<string>UIApplication</string>
		<string>UIApplicationDelegate</string>
		<string>UIBarButtonItem</string>
		<string>UIBarItem</string>
		<string>UIBezierPath</string>
		<string>UIButton</string>
		<string>UICollectionReusableView</string>
		<string>UICollectionView</string>
		<string>UICollectionViewCell</string>
		<string>UICollectionViewController</string>
		<string>UICollectionViewDataSource</string>
		<string>UICollectionViewDelegate</string>
		<string>UICollectionViewDelegateFlowLayout</string>
		<string>UICollectionViewFlowLayout</string>
		<string>UICollectionViewLayout</string>
		<string>UICollectionViewLayoutAttributes</string>
		<string>UICollectionViewUpdateItem</string>
		<string>UIColor</string>
		<string>UIControl</string>
		<string>UIDataDetectorTypes</string>
		<string>UIDataSourceModelAssociation</string>
		<string>UIDatePicker</string>
		<string>UIDevice</string>
		<string>UIDictationPhrase</string>
		<string>UIDocument</string>
		<string>UIDocumentInteractionController</string>
		<string>UIDocumentInteractionControllerDelegate</string>
		<string>UIEdgeInsets</string>
		<string>UIEvent</string>
		<string>UIFont</string>
		<string>UIGestureRecognizer</string>
		<string>UIGestureRecognizerDelegate</string>
		<string>UIImage</string>
		<string>UIImagePickerController</string>
		<string>UIImagePickerControllerDelegate</string>
		<string>UIImageView</string>
		<string>UIKeyInput</string>
		<string>UILabel</string>
		<string>UILocalizedIndexedCollation</string>
		<string>UILocalNotification</string>
		<string>UILongPressGestureRecognizer</string>
		<string>UIManagedDocument</string>
		<string>UIMarkupTextPrintFormatter</string>
		<string>UIMenuController</string>
		<string>UIMenuItem</string>
		<string>UINavigationBar</string>
		<string>UINavigationBarDelegate</string>
		<string>UINavigationController</string>
		<string>UINavigationControllerDelegate</string>
		<string>UINavigationItem</string>
		<string>UINib</string>
		<string>UIOffset</string>
		<string>UIPageControl</string>
		<string>UIPageViewController</string>
		<string>UIPageViewControllerDataSource</string>
		<string>UIPageViewControllerDelegate</string>
		<string>UIPanGestureRecognizer</string>
		<string>UIPasteboard</string>
		<string>UIPickerView</string>
		<string>UIPickerViewAccessibilityDelegate</string>
		<string>UIPickerViewDataSource</string>
		<string>UIPickerViewDelegate</string>
		<string>UIPinchGestureRecognizer</string>
		<string>UIPopoverBackgroundView</string>
		<string>UIPopoverController</string>
		<string>UIPopoverControllerDelegate</string>
		<string>UIPrintFormatter</string>
		<string>UIPrintInfo</string>
		<string>UIPrintInteractionController</string>
		<string>UIPrintInteractionControllerDelegate</string>
		<string>UIPrintPageRenderer</string>
		<string>UIPrintPaper</string>
		<string>UIProgressView</string>
		<string>UIReferenceLibraryViewController</string>
		<string>UIRefreshControl</string>
		<string>UIResponder</string>
		<string>UIResponderStandardEditActions</string>
		<string>UIRotationGestureRecognizer</string>
		<string>UIScreen</string>
		<string>UIScreenMode</string>
		<string>UIScrollView</string>
		<string>UIScrollViewDelegate</string>
		<string>UISearchBar</string>
		<string>UISearchBarDelegate</string>
		<string>UISearchDisplayController</string>
		<string>UISearchDisplayDelegate</string>
		<string>UISegmentedControl</string>
		<string>UISimpleTextPrintFormatter</string>
		<string>UISlider</string>
		<string>UISplitViewController</string>
		<string>UISplitViewControllerDelegate</string>
		<string>UIStepper</string>
		<string>UIStoryboard</string>
		<string>UIStoryboardPopoverSegue</string>
		<string>UIStoryboardSegue</string>
		<string>UISwipeGestureRecognizer</string>
		<string>UISwitch</string>
		<string>UITabBar</string>
		<string>UITabBarController</string>
		<string>UITabBarControllerDelegate</string>
		<string>UITabBarDelegate</string>
		<string>UITabBarItem</string>
		<string>UITableView</string>
		<string>UITableViewCell</string>
		<string>UITableViewController</string>
		<string>UITableViewDataSource</string>
		<string>UITableViewDelegate</string>
		<string>UITableViewHeaderFooterView</string>
		<string>UITapGestureRecognizer</string>
		<string>UITextField</string>
		<string>UITextFieldDelegate</string>
		<string>UITextInput</string>
		<string>UITextInputDelegate</string>
		<string>UITextInputMode</string>
		<string>UITextInputStringTokenizer</string>
		<string>UITextInputTokenizer</string>
		<string>UITextInputTraits</string>
		<string>UITextPosition</string>
		<string>UITextRange</string>
		<string>UITextSelectionRect</string>
		<string>UITextView</string>
		<string>UITextViewDelegate</string>
		<string>UIToolbar</string>
		<string>UITouch</string>
		<string>UIVideoEditorController</string>
		<string>UIVideoEditorControllerDelegate</string>
		<string>UIView</string>
		<string>UIViewController</string>
		<string>UIViewControllerRestoration</string>
		<string>UIViewPrintFormatter</string>
		<string>UIWebView</string>
		<string>UIWebViewDelegate</string>
		<string>UIWindow</string>
		<string>unichar</string>
		<string>union</string>
		<string>unsigned</string>
		<string>URBarStyle</string>
		<string>using</string>
		<string>virtual</string>
		<string>void</string>
		<string>volatile</string>
		<string>wchar_t</string>
		<string>while</string>
		<string>xor_eq</string>
		<string>xor</string>
		<string>YES</string>
	</array>
	<key>autocompleteWords</key>
	<array/>
</dict>
</plist>
